body {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 98vh;
	width: 98vw;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body.bigtext {
	font-size: 3vw;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: lightgray;
	}
}

.bottom-menu {
	position: absolute;
	bottom: 0;
	opacity: 0%;
	background-color: gray;
	color: black;
	width: 97vw;
	padding: 2vh;
	text-align: center;
}
.bottom-menu:hover {
	opacity: 100%;
}

pre {
	display: inline-block;
	text-align: left;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	padding: 10px;
	border-radius: 10px;
	border-left-style: solid;
	border-right-style: solid;
	border-color: purple;
	max-width: 80vw;
	word-wrap: break-word;
	white-space: pre-wrap;       /* Since CSS 2.1 */
}

#warnings {
	color: red
}

#current {
	font-weight: bold;
}